.box {
  border: 1px solid white;
  width: max-content;
  height: 90px;
  width: 75px;
}

.box p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding: 30px;
  font-size: 25px;
  font-weight: 600;
}
